.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  min-height: 30px; 
  height: 30px;
  background-color: var(--marromacidentado);
  span {
    font-size: 1rem;
    font-weight: 300;
  }
  .logo {
    color: var(--marromescuro2);
    margin-right: 10px;
  }
  .devs {
    color: var(--marromescuro2);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
  }
}