.nav {
  background-color: var(--marromescuro);
  width: 200px;
  .item i {
    margin-right: 10px;
    color: var(--marromescuro2);
  }
}
.content {
  padding: 16px;
  background-color: #fff;
  color: black;
}