<section>
  <mat-card class="card-product" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>R$ {{ product.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Breve descrição
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btns">
        <a routerLink="/products/visualizar/{{product.id}}" class="linkProduto">
          <i class="material-icons">
            visibility
          </i>
        </a>
      </button>
      <button mat-button class="btns">
        <i class="material-icons">
          shopping_cart
        </i>
      </button>
    </mat-card-actions>
  </mat-card>
</section>