html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --marrom: brown;
  --vermelho: red;
}

.vertical-meio {
  vertical-align: middle;
}

.marrom {
  color: var(--marrom);
}