html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --marrom: #765C4B;
  --marromacidentado: #776960;
  --marromescuro: #634F46;
  --marromescuro2: #392620;
  --marromclaro: #A27F5F;
  --marromamendoado: #8B6759;
  --marromabordo: #7E564A;
  --vermelho: red;
  --vermelhoclaro: #ff5656;
  --verde: #28a745;
}

.vertical-meio {
  vertical-align: middle;
}

.marrom {
  color: var(--marrom);
}

.msg-sucess {
  background-color: #28a745;
  color: white;
}

.msg-error {
  background-color: var(--vermelho);
  color: white;
}